doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    meta(name="viewport", content="width=device-width, initial-scale=1")
  body
    .container
      .row
        .col-md-12
          h1= title
          p Welcome to #{title}

          div.box.borderred
            div.heading
              if(!isroot)
                a.link(href="/") Home
              ul.breadcrumbs
                each path in breadcrumbs
                  li
                    a(href=path.link) #{path.text}
            if(structure)
              div.body
                each dir in structure.directories
                  div.list-item
                    span.glyphicon.glyphicon-folder-close
                    a(href="/#{join(path, dir)}",style='padding-left:10px') #{dir}
        
                each file in structure.files
                  div.list-item
                    span.glyphicon.glyphicon-list-alt
                    a(href="/#{join(path,file)}",style='padding-left:10px') #{file}

          if(structure && content)
            div.box.borderred
              h4.heading ReadMe
              div.body.content!= content
          else if(content)
            div.box.borderred
              h4.heading #{path}
              div.body.content!= content

  style.
    ul.breadcrumbs {
      padding-left: 0px;
      margin: 0px;
      margin-left: 5px;
      display: inline-block;
    }
    .breadcrumbs li {
      display: inline-block;
      margin-right: 2px;
    }
    .breadcrumbs li:last-child a {
      text-decoration: none;
      color: #555;
    }
    .breadcrumbs li:before {
      content: " /";
      margin-right: 2px;
    }
    .box {
      margin-top: 10px;
    }
    .box.borderred {
      border: 1px solid #ccc;
      border-bottom: 0px;
    }
    .box .heading {
      border-bottom: 1px solid #ccc;
      padding: 10px;
      margin: 0px;
      background: #eee;
    }
    .box .body  {
      border-bottom: 1px solid #ccc;
    }
    .box .body.content {
      padding: 10px;
    }
    .box .body .list-item {
      border-bottom: 1px solid #ccc;
      padding: 5px;
    }
    .box .body .list-item:last-child {
      border-bottom: 0px;
    }