<a href="/tips">&lt;&lt; Back</a>
<div class="tip-content">
    <h2>{{tip.title}}</h2>
    <div class="fun-bar">
        Create Date: {{#date tip.createDate 'MM-DD-YYYY'}}{{/date}}
        <a href="/tips/tip/{{tip._id}}/edit" title="Edit"><i class="glyphicon glyphicon-pencil"></i></a>
        <a id="btn_remove" href="/tips/rtag/{{tip._id}}" title="Remove"><i class="glyphicon glyphicon-trash"></i></a>
        <a id="btn_att" href="#" title="Add Attachment"><i class="glyphicon glyphicon-paperclip"></i></a>   
    </div>
    {{#if tip.tags.length}}
    <div class="tip-taglist">
        {{#each tip.tags}}
        <div class="tip-tag">
            <i class="glyphicon glyphicon-tag"></i>
            {{this}}
        </div>
        {{/each}}
    </div>
    {{/if}}
    {{#if tip.attachments.length}}
    <ul class="tip-atts clearfix">
        {{#each tip.attachments}}
        <li class="tip-att">
            <a href="/tips/att/{{_id}}?tid={{../tip._id}}">
                <i class="glyphicon glyphicon-paperclip"></i>
                {{fileName}}
            </a>
            <a class="att_remove" href="/tips/{{../tip._id}}/rmatt/{{_id}}"><i class="glyphicon glyphicon-remove"></i></a>
        </li>
        {{/each}}
    </ul>
    {{/if}}
    <hr>
    <div>{{{tip.content}}}</div>
</div>

<input id="file_uploader" class="hidden" type="file" multiple />

<script src="/dv.view.min.js"></script>
